/* Computer modern fonts are here https://github.com/dominictarr/computer-modern */

@font-face {
    font-family: 'Computer Modern Sans';
    src:
        local('Computer Modern'),
        url('fonts/cmunss.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Computer Modern Sans', sans-serif;
    font-size: 21px;
    line-height: normal;
    max-width: 800px;
    margin: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo {
    order:-1;
}

.light-theme {
    background-color: #ffffff;
}

.dark-theme {
    background-color: #1f1f1f;
    color: #ffffdd;
}

.dark-theme a:link {
    color: #ffffdd;
}

.dark-theme a:visited {
    color: #ffffff;
}

h1 {
    font-family: 'Computer Modern Sans', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

h2 {
    font-family: 'Computer Modern Sans', sans-serif;
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

ul {
    margin-top: 5px;
    padding-top: 5px;
    list-style: disc;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p:lang(en) {
    display: none;
}