<p lang="ru">Если вам нужно связаться, пишите на почту <a href="mailto:leva.matyushkin@gmail.com">leva.matyushkin@gmail com</a> или в телеграм <a href="https://tggg.me/bythi">@bythi</a>. Если вам просто нравится то, что я делаю, вы можете меня <a href="../donate/index.html">поддержать</a>.</p>