---
title: Бесплатные IT-мероприятия
---
<!DOCTYPE html>

<html lang="ru">
<head>
	{% include head_meta.njk %}
	{% include head_links.njk %}
	{% include metrika.njk %}
	<title>{{ title }}</title>
</head>
<body>
	<header>
		{% include header.njk %}
	</header>
	<main>
		<p>На этой странице приведен список IT-мероприятий, собранных <a href="https://github.com/matyushkin/events">специально разработанным парсером</a>. Страница обновляется ежедневно.</p>
		<article class="events">
			{% include events.njk %}
		</article>
	</main>
	<footer>
		{% include footer.njk %}
	</footer>
</body>
</html>
​