---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="links">
  <div class="pb-12 mt-5">
    <h1 class="text-5xl font-bold">Links</h1>
    <div class="text-lg py-4">
      <p class="mb-4">
        A simple collection of personal links brought together. If you need to contact me,
        the preferred means of communication is e-mail: <a href="mailto:leva.matyushkin@gmail.com" class="underline">leva.matyushkin@gmail.com</a>.
      </p>
    </div>
  </div>

  <div class="space-y-8">
    <div>
      <h2 class="text-2xl font-bold mb-4">💬 Social Networks</h2>
      <ul class="list-disc list-inside space-y-2">
        <li>VKontakte: <a href="https://vk.com/matyushkin" class="underline" target="_blank">vk.com/matyushkin</a></li>
        <li>Facebook: <a href="https://www.facebook.com/leva.matyushkin" class="underline" target="_blank">facebook.com/leva.matyushkin</a></li>
        <li>Twitter: <a href="https://twitter.com/matyushkin" class="underline" target="_blank">twitter.com/matyushkin</a></li>
        <li>Instagram: <a href="https://www.instagram.com/matyushkin" class="underline" target="_blank">instagram.com/matyushkin</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/levamatyushkin/" class="underline" target="_blank">linkedin.com/in/levamatyushkin</a></li>
      </ul>
    </div>

    <div>
      <h2 class="text-2xl font-bold mb-4">👨‍💻️ Programming</h2>
      <ul class="list-disc list-inside space-y-2">
        <li>GitHub: <a href="https://github.com/matyushkin" class="underline" target="_blank">github.com/matyushkin</a></li>
        <li>Habr: <a href="https://habr.com/ru/users/leomat/" class="underline" target="_blank">habr.com/ru/users/leomat</a></li>
        <li>DevPost: <a href="https://devpost.com/matyushkin" class="underline" target="_blank">devpost.com/matyushkin</a></li>
      </ul>
    </div>

    <div>
      <h2 class="text-2xl font-bold mb-4">👨‍🔬️ Research</h2>
      <ul class="list-disc list-inside space-y-2">
        <li>ResearchGate: <a href="https://www.researchgate.net/profile/Lev_Matyushkin" class="underline" target="_blank">researchgate.net/profile/Lev_Matyushkin</a></li>
        <li>Google Scholar: <a href="https://scholar.google.ru/citations?hl=ru&user=x0O884MAAAAJ" class="underline" target="_blank">Google Scholar profile</a></li>
      </ul>
    </div>

    <div>
      <h2 class="text-2xl font-bold mb-4">👨‍🏫️ Education</h2>
      <ul class="list-disc list-inside space-y-2">
        <li>Nanomaterials course: <a href="https://stepik.org/course/52514" class="underline" target="_blank">stepik.org/course/52514</a></li>
        <li><a href="/posts" class="underline">Programming publications</a></li>
      </ul>
    </div>

    <div>
      <h2 class="text-2xl font-bold mb-4">👨‍🎨️ Design</h2>
      <ul class="list-disc list-inside space-y-2">
        <li>Behance: <a href="https://www.behance.net/leo-matyushkin" class="underline" target="_blank">behance.net/leo-matyushkin</a></li>
        <li>Dribbble: <a href="https://dribbble.com/matyushkin" class="underline" target="_blank">dribbble.com/matyushkin</a></li>
        <li>DeviantArt: <a href="https://www.deviantart.com/matyushkin" class="underline" target="_blank">deviantart.com/matyushkin</a></li>
      </ul>
    </div>

    <div>
      <h2 class="text-2xl font-bold mb-4">📜 Poetry, Stories, Music, Films</h2>
      <ul class="list-disc list-inside space-y-2">
        <li>VKontakte: <a href="https://vk.com/levamatyushkin" class="underline" target="_blank">vk.com/levamatyushkin</a></li>
        <li>SoundCloud: <a href="https://soundcloud.com/leo-matyushkin" class="underline" target="_blank">soundcloud.com/leo-matyushkin</a></li>
        <li>YouTube: <a href="https://www.youtube.com/user/matyushkin" class="underline" target="_blank">youtube.com/user/matyushkin</a></li>
        <li>Coub: <a href="https://coub.com/leva.matyushkin" class="underline" target="_blank">coub.com/leva.matyushkin</a></li>
        <li>LiveJournal: <a href="https://indiepie.livejournal.com/" class="underline" target="_blank">indiepie</a></li>
      </ul>
    </div>

    <div>
      <h2 class="text-2xl font-bold mb-4">Project: First Memories Research</h2>
      <ul class="list-disc list-inside space-y-2">
        <li><a href="https://forms.gle/7WPUQz3K7GHtZZ528" class="underline" target="_blank">Survey (Google Form)</a></li>
        <li>GitHub: <a href="https://github.com/matyushkin/reminiscence" class="underline" target="_blank">github.com/matyushkin/reminiscence</a></li>
        <li>VKontakte: <a href="https://vk.com/first_memories" class="underline" target="_blank">vk.com/first_memories</a></li>
        <li>Facebook: <a href="https://www.facebook.com/firstmemoriesru/" class="underline" target="_blank">facebook.com/firstmemoriesru/</a></li>
        <li>Telegram: <a href="https://t.me/memories_ru" class="underline" target="_blank">t.me/memories_ru</a></li>
      </ul>
    </div>
  </div>
</BaseLayout>
