---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="texts">
  <div class="pb-12 mt-5">
    <h1 class="text-5xl font-bold">Texts</h1>
    <div class="text-lg py-4">
      <p class="mb-4">
        Poetry books and research papers.
      </p>
    </div>
  </div>

  <div class="space-y-4">
    <div class="card bg-base-200">
      <div class="card-body">
        <h3 class="card-title">Poetry book "а/я", 2018</h3>
        <div class="card-actions">
          <a href="https://drive.google.com/file/d/1ntZAl3w9EueSqsiEoM8UDAu9DHovrcsA/view?usp=sharing"
             target="_blank"
             class="btn btn-primary btn-sm">
            Read on Google Drive
          </a>
        </div>
      </div>
    </div>

    <div class="card bg-base-200">
      <div class="card-body">
        <h3 class="card-title">Poetry book "About Space and Time", 2015</h3>
        <div class="card-actions">
          <a href="https://drive.google.com/file/d/1M132L1XgY41nZLg96LrhxT3sPNifs9t5/view?usp=sharing"
             target="_blank"
             class="btn btn-primary btn-sm">
            Read on Google Drive
          </a>
        </div>
      </div>
    </div>

    <div class="card bg-base-200">
      <div class="card-body">
        <h3 class="card-title">About first memories research, 2012 edition</h3>
        <div class="card-actions">
          <a href="https://drive.google.com/file/d/12nWwO1RRZBx_v2lVzzb5BQ7O6bLe4_6Z/view?usp=sharing"
             target="_blank"
             class="btn btn-primary btn-sm">
            Read on Google Drive
          </a>
        </div>
      </div>
    </div>

    <div class="card bg-base-200">
      <div class="card-body">
        <h3 class="card-title">About the 2010 exhibition</h3>
        <div class="card-actions">
          <a href="https://drive.google.com/file/d/1cEi1yGX5xYY5UpMZzZXa-pQ4jWAiT05q/view?usp=sharing"
             target="_blank"
             class="btn btn-primary btn-sm">
            Read on Google Drive
          </a>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
