---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="texts" lang="ru">
  <div class="pb-12 mt-5">
    <h1 class="text-5xl font-bold">Тексты</h1>
    <div class="text-lg py-4">
      <p class="mb-4">
        Книги стихов и исследовательские работы.
      </p>
    </div>
  </div>

  <div class="space-y-4">
    <div class="card bg-base-200">
      <div class="card-body">
        <h3 class="card-title">Книга стихов «а/я», 2018 г.</h3>
        <div class="card-actions">
          <a href="https://drive.google.com/file/d/1ntZAl3w9EueSqsiEoM8UDAu9DHovrcsA/view?usp=sharing"
             target="_blank"
             class="btn btn-primary btn-sm">
            Читать на Google Drive
          </a>
        </div>
      </div>
    </div>

    <div class="card bg-base-200">
      <div class="card-body">
        <h3 class="card-title">Книга стихов «О пространстве и времени», 2015 г.</h3>
        <div class="card-actions">
          <a href="https://drive.google.com/file/d/1M132L1XgY41nZLg96LrhxT3sPNifs9t5/view?usp=sharing"
             target="_blank"
             class="btn btn-primary btn-sm">
            Читать на Google Drive
          </a>
        </div>
      </div>
    </div>

    <div class="card bg-base-200">
      <div class="card-body">
        <h3 class="card-title">Об исследовании первых воспоминаний, редакция 2012 г.</h3>
        <div class="card-actions">
          <a href="https://drive.google.com/file/d/12nWwO1RRZBx_v2lVzzb5BQ7O6bLe4_6Z/view?usp=sharing"
             target="_blank"
             class="btn btn-primary btn-sm">
            Читать на Google Drive
          </a>
        </div>
      </div>
    </div>

    <div class="card bg-base-200">
      <div class="card-body">
        <h3 class="card-title">О выставке 2010 г.</h3>
        <div class="card-actions">
          <a href="https://drive.google.com/file/d/1cEi1yGX5xYY5UpMZzZXa-pQ4jWAiT05q/view?usp=sharing"
             target="_blank"
             class="btn btn-primary btn-sm">
            Читать на Google Drive
          </a>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
