---
title: Как мне можно помочь
---

<!DOCTYPE html>
<html lang="ru">
<head>
	{% include head_meta.njk %}
	{% include head_links.njk %}
	<link rel="canonical" href="https://matyushkin.github.io/"/>
	{% include metrika.njk %}
	<title>{{ include title }}</title>
</head>
<body>
	<header>
		{% include header.njk %}
	</header>
	<h1>{{ title }}</h1>
	<p>Если вам нравится то, что я делаю, вы можете направить любую сумму через одну из платежных систем, перечисленных в раскрывающемся элементе.</p>
	<details>
		<summary>Адреса в платежных системах</summary>
		<ul>
			<li>Яндекс.Деньги: <a href="https://money.yandex.ru/to/41001544699587">41001544699587</a></li>
			<li>PayPal: <a href="https://paypal.me/leomatyushkin">paypal.me/leomatyushkin</a></li>
			<li><a href="https://vk.com/vkpay#action=transfer-to-user&user_id=36393">VK Pay</a></li>
			<li>USD Digital: 0x2750Eeaa22153EaAC79AdE896AC1B9F398a9d095</li>
			<li>Bitcoin: 1L7SN6r7vRJotfhupZGvDTRvT87xFbkKhb</li>
			<li>Ether: 0x2750Eeaa22153EaAC79AdE896AC1B9F398a9d095</li>
			<li>Bitcoin Cash: qq8ddsjdqpu0n05ugrsms06rmauh0mlh35yhg048wu</li>
		</ul>
	</details>
	<p>Если вам нравятся мои стихи, видео или рисунки, вы можете подписаться на канал в <a href=https://patreon.com/matyushkin>Patreon</a>. Некоторые тексты, музыка и видео публикуются только там, другие доступны и в прочих социальных сетях, но на Patreon появляются раньше.</p>
	<p>Способы, для которых не нужны деньги, лишь немного времени:
		<ul>
			<li>Пройти короткий <a href="https://forms.gle/Dn5WcSD3DYUd6r719">опрос о первом воспоминании</a>. Переслать ссылку на опрос или канал в социальной сети (<a href="https://vk.com/first_memories">vk</a>, <a href="https://www.facebook.com/firstmemoriesru/">fb</a>, <a href="https://tggg.me/memories_ru">tg</a>, <a href="https://twitter.com/memories_ru">tw</a>) своим близким.</li>
			<li>Помочь с переводом и классификацией первых воспоминаний.</li>
			<li>Рассказать другим людям о любом из проектов, перечисленных на странице <a href="../links/index.html">ссылок</a>.</li>
		</ul>
	</p>

	<p>Если вам нужна моя помощь, пишите на почту <a href="mailto:leva.matyushkin@gmail com">leva.matyushkin@gmail com</a> или в телеграм <a href="https://tggg.me/bythi">@bythi</a>.</p>
</body>
</html>